**/node_modules/
**/dist/
**/build/
**/.DS_Store
**/.env
**/.gradle/
**/package-lock.json
**/application-secret.properties

# Logs
**/*.log

# IDEs
**/.idea/
**/.vscode/
**/*.iml
**/out/
**/bin/
**/.classpath
**/.project
**/.settings/
**/target/

# Personal Documentation
project_report.md
